<link rel="stylesheet" href="/stylesheets/main.css" />
<link rel="stylesheet" href="/stylesheets/session.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Carter+One&family=Caveat:wght@700&family=Gloria+Hallelujah&family=Gochi+Hand&family=Indie+Flower&family=Lato&family=Luckiest+Guy&family=Merienda+One&family=Permanent+Marker&family=Shadows+Into+Light&family=Ultra&display=swap" rel="stylesheet">

<div role="alert"> <%= @message  %></div>

<body class="login-background-image background-image">
    
    <form class="form" method="post" action="/parents_login">
    <h1>Please Log in</h1><br/>
    <label for="email">Email address</label>
    <input type="text" id="email" name="parent[email]"><br/>
    <label for="password">Password</label>
    <input type="password" id="password" name="parent[password]"><br/>
    <input class="login-button" type="submit" value="Log In">
    </form> 
</body>