<link rel="stylesheet" href="/stylesheets/main.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Carter+One&family=Caveat:wght@700&family=Gloria+Hallelujah&family=Gochi+Hand&family=Indie+Flower&family=Lato&family=Luckiest+Guy&family=Merienda+One&family=Permanent+Marker&family=Shadows+Into+Light&family=Ultra&display=swap" rel="stylesheet">

<body id="body">
<h1>Sign up for a family account.</h1>
<h5>This can only be done by a parent (Sorry, kiddos!)</h5>
    <form method="post" action="/signup">
        <label for="email">Email Address</label>
        <input type="text" id="parent[email]" name="email"><br/>
        <label for="password">Password</label>
        <input type="password" id="parent[password]" name="password"><br/>
        <label for="first_name">First Name</label>
        <input type="text" id="parent[first_name]" name="first_name"><br/>
        <label for="last_name">Last Name</label>
        <input type="text" id="parent[last_name]" name="last_name"><br/>
        <input type="submit" value="Create Your Account!">
    </form>
</body>