@media screen {
    
    .welcome-background-image {
        background-image: url(/images/family-1165911.jpg);
        position:relative;
        background-size: cover;
        background-position: 0 35%;
        height: 100%;
        color: #fff;
    }

    .login-background-image {
      background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url(/images/welcome2.jpg);
      position:relative;
      background-size: cover;
      background-position: 0 35%;
      height: 100%;
      color: #fff;
    }

    .signup-background-image {
      background-image: url(/images/yellow-waves.jpg);
      position:relative;
      background-size: cover;
      background-position: 0 35%;
      height: 100%;
      color: #fff;
    }

    .login-button {
      box-shadow:inset 0px 1px 0px 0px #fff;
      background:linear-gradient(to bottom, #fff 5%, rgb(211, 209, 209) 100%);
      background-color:#fff;
      border-radius:3px;
      border:1px solid #884201;
      display:inline-block;
      cursor:pointer;
      color:black;
      font-family:Arial;
      font-size:13px;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px grey;
    }
    .login-button:hover {
      background:linear-gradient(to bottom, #fdcb92 5%, #fc9826 100%);
      background-color:#fff;
    }
    .login-button:active {
      position:relative;
      top:1px;
    }
    
    
    
.flexbox-container {
    display: flex;
    flex-flow: row;
    padding: 40px 0 100px 0;
    margin: 20px 0 10px 0;
  }
  
  .flexbox-left {
    background-color: #dbf6e9;
    flex: 2 50%;
    text-align: center;
    font-family: 'Ultra', serif;
    padding-top: 30px;
    
  }
  
  .flexbox-left img {
    padding: 10px 10px 0px 10px;
    margin-top: 30px;
  }
  
  .flexbox-right {
    background-color: #dbf6e9;
    flex: 2 50%;
    text-align: center;
    font-family: 'Ultra', serif;
    padding-top: 30px;
    
  }
  
  .flexbox-right img {
    padding: 10px 10px 0px 10px;
    margin-top: 80px;
  }

  .background-image {
    position: relative;
    text-align: center;
    color: white;
  }

  #biggiebody {
    background-color: #dbf6e9;
  }

  .biggiesmalls {
    position:fixed;
    top:20;
    height: 50px;
    width:100%;
    color:whitesmoke;
    text-align: center;
    font-size: 30px;
    background-color: #16a596;
  }


/* #container {
    width: 100%;
    flex-wrap: wrap;
    margin: 0,0,0,0;
} */

.card {
    border: none;
    border-radius: 10px;
    background-color: #30475e;
    width: 350px;
    margin-top: -60px;
    align-self: center;
}

p.mb-1{
    font-size: 25px;
    color: #f3eac2;
    text-align:center;
}

h4.mb-5 {
  text-align: center;
}

.btn-primary {
    border: none;
    background: #f5b461;
    margin-bottom: 60px;
    width: 100%;
}
.btn-primary small {
  color: #f5f1de;
}

a .button-primary {
  width:100%;
}
.btn-primary span {
  font-size: 13px
}

.card.two {
  border-top-right-radius: 30px;
  border-top-left-radius: 0
}

.form-group {
  position: relative;
  margin-bottom: 2rem
}

.form-control {
  border: none;
  border-radius: 0;
  outline: 0;
  border-bottom: 1.5px solid #E6EBEE
}

.form-control:focus {
  box-shadow: none;
  border-radius: 0;
  border-bottom: 2px solid #30475e;
}

.form-control-placeholder {
  position: absolute;
  top: 15px;
  left: 10px;
  transition: all 200ms;
  opacity: 0.5;
  font-size: 80%;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
  font-size: 80%;
  transform: translate3d(0, -90%, 0);
  opacity: 1;
  top: 10px;
  color: #30475e;
  text-align:center;
}
.btn-block {
  border: none;
  border-radius: 8px;
  background-color: #f5b461;
  padding: 10px 0 12px
}

.btn-block:focus {
  box-shadow: none
}

.btn-block span {
  font-size: 15px;
  color: #f5f1de;
}

.card {
  width: 80%;
  
}
.btn:hover {
  background-color: #93abd3;
}
.footer-copyright {
  color: grey;
}
}