<link rel="stylesheet" href="/stylesheets/main.css" />
<link rel="stylesheet" href="/stylesheets/session.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Carter+One&family=Caveat:wght@700&family=Gloria+Hallelujah&family=Gochi+Hand&family=Indie+Flower&family=Lato&family=Luckiest+Guy&family=Merienda+One&family=Permanent+Marker&family=Shadows+Into+Light&family=Ultra&display=swap" rel="stylesheet">



<body id="biggiebody">
<header class="biggiesmalls">** Choose your own adventure! **</header>
<div class="flexbox-container">
<div class="flexbox-left">
    <h3>Are you logging in as a big</h3>
    <a href="/parents_login"><img src="/images/Stick-adults.png" height="350px"></a>
</div>
<div class="flexbox-right">
    <h3>or a small?</h3> 
    <a href="/children_login"><img src="/images/clipart4812371.png" height="300px"></a>
</div>
</div>
</body>
