<head>
  <link rel="stylesheet" href="/stylesheets/welcome.css" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Carter+One&family=Caveat:wght@700&family=Gloria+Hallelujah&family=Gochi+Hand&family=Indie+Flower&family=Lato&family=Luckiest+Guy&family=Merienda+One&family=Permanent+Marker&family=Shadows+Into+Light&family=Ultra&display=swap" rel="stylesheet">
</head>

<body class="background-image">

      <div class="centered">
        
        <h3>Welcome to your family chore tracker!</h3>
        
        <h3>Would you like to <a href="/signup" class="myButton">Sign Up</a></h3>
        <h3>or <a href="/login_route" class="myButton">Log In</a>?</h3>
        
        
        
        
      </div> 
    
</body>